@charset "utf-8";

@media screen and (max-width: 768px){
    .inner{
       height: 79px;
    }
    html{
        font-size: 4px;
    }
    .htop{
        justify-content: space-between;
       height: 80px;
       align-items: center;
    }
   .hbot{
    display: none;
   }
   .slider li{
    width: 50vw;
   }
   .slider img {
    width: 384px;
    height: 384px;
   }
   footer {
    height: 576px;
   }
   .mainevent a{
    height: 353px;
   }
   .mainevent .first a  {
   background-position: center right 5%;
}
.mainevent .second a {
   background-position: center right 5%;

}
.mainevent .third a{
   background-position: center right 5%;

}
   .finner{
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   .policy{
    align-items: center;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
   }
   .copy{
    text-align: center;
   }
   .sns{
    display: flex;
    align-items: center;
    flex-direction: column;
   }
   .ptop{
  width: 339px;
   }
   
   .upcon{
    display: flex;
    flex-direction: column;
    align-items: center;
   margin: 20px  auto;
   }
   .lowcon{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .sns ul  li a{
    width: 40px;
    height: 40px;
   }
   .sns h2{
    font-size: 26px;
   }
   .policy p {
    font-size: 13px;
   }
   
.ptop span:nth-child(1) a{
    font-size: 14px;
}
.ptop span:nth-child(2) a {
    font-size: 14px;
}
.flogo {
    width: 183px;
    margin-left: 0px;
    margin-bottom: 15px;
    height: 320px;
}
.flogo img {
    width: 183px;

} 
.slider li >  p {
    text-align: center;
    text-decoration: none;
    margin-top: 2rem;
    display: block;
}
.name{
    display: none;
}
.copy{
    font-size: 12px;
}
.policy p {
    color: #fff;
    font-weight: 300;
    margin-bottom: 0px;
    line-height: 30px;
}
.htop h1 a img {
    margin-top: 15px;
    margin-left: 20px;
    width:96px;
    height: 31px;
}
.budbeats{
    width: 95px;
}
.searchbox {
    width: 180px;
    height: 39px;
}
.budbeats a{
    width: 100px;
    height: 30px;
}
.mainevent ul {
    width: 100%;
    list-style: none;
    margin-top:80px;
}
.title h3 {
    font-size: 32px
}
.artist{
    height:700px;
}
.artinner {
    margin: 30px 30px;
}
.firsttext h2 {
    font-weight: bold;
    font-size: 48px;
    color: #fff;
}
.stext h2 {
    font-weight: bold;
    color: #fff;
    font-size: 48px;
}
.third .trdtext h2 {
    font-weight: bold;
    font-size: 48px;
    color: #0A0541;
}
.mobr{
    display: block;
}
.fourtext h2 {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
}
.fivetext h2 {
    font-weight: bold;
    font-size: 48px;
    color: #fff;
}
}


